:root {
    --color-primary: #2162E3;
    --color-primary-light: #3A78F4;
    --color-primary-dark: #1957D4;
    --color-background: #F8FAFF;
    --color-on-surface: #0D1016;
    --color-grey: #AEB5C3;
    --color-light-grey: #DADFE9;
    --color-white: #FFFFFF;
    --color-error: #ff0000;
    --color-default: #EBEFF5;

    --font-primary: 'Montserrat', sans-serif;
}