.home-page {
  display: flex;
  flex-direction: row;
}

.home-page h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -0.03em;
}

.home-page .home-page__logo {
  position: absolute;
  padding: 64px;
}

.home-page .home-page__form-container {
  padding: 162px 64px;
  position: relative;
}

.home-page .home-page__form- {
  margin-top: 48px;
}

.home-page .home-page__label {
  position: absolute;
  margin-top: 12px;
  left: 90px;
  color: var(--color-light-grey);
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all .2s ease;
  letter-spacing: -0.03em;
}

.home-page input {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border: 1px solid var(--color-light-grey);
  border-radius: 18px;
  margin-bottom: 14px;
  padding: 20px 24px 0;
}

.home-page input:hover {
  border: 1px solid var(--color-grey);
}

.home-page input:hover + .home-page__label {
  color: var(--color-grey);
}

.home-page input:focus-visible {
  border: 1px solid var(--color-on-surface);
  outline: none;
}

.home-page input:not(:placeholder-shown) + .home-page__label {
  transform: translate3d(0, -6px, 0) scale(0.75);
  color: var(--color-grey);
}

.home-page input:focus + .home-page__label {
  color: var(--color-grey);
  transform: translate3d(0, -6px, 0) scale(0.75);
}

.home-page .home-page__inputs-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
}

.home-page .home-page__inputs-container label:nth-child(1) {
  width: 59.3%;
  margin-right: 14px;
}

.home-page .home-page__inputs-container label:nth-child(2) {
  width: 59.3%;
}

.home-page .home-page__inputs-container label:nth-child(2) .home-page__label {
  left: 315px;
}

.home-page .home-page__button {
  padding: 20px 40px;
  width: 100%;
  height: 56px;
  background: var(--color-primary);
  border-radius: 18px;
  border: none;
  color: var(--color-white);
}

.home-page .home-page__button:hover {
  background-color: var(--color-primary-light);
}
