.home-page {

    --padding-form-mobile: 15px 17px;
    --padding-form-tablet: 53px 64px;
    --padding-form-desktop: 162px 64px;

    --heading-large: 40px;
    --heading-small: 24px;

    display: flex;
    flex-direction: row;

    & h2 {
        font-size: var(--heading-large);
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.03em;
    }

    & &__logo {
        position: absolute;
        padding: 64px;
    }

    & &__img {
        width: 100%;
    }

    & &__img-container {
        text-align: center;
        background-color: var(--color-background);
    }

    & &__form-container {
        padding: var(--padding-form-desktop);
        position: relative;
        max-width: 440px;
    }

    & &__form {
        margin-top: 48px;
        min-width: 370px;
    }

    & &__label {
        position: absolute;
        margin-top: 17px;
        left: 89px;
        color: var(--color-light-grey);
        transform-origin: 0 0;
        transform: translate3d(0,0,0);
        transition: all .2s ease;
        letter-spacing: -0.03em;
    }

    & input {  
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        border: 1px solid var(--color-light-grey);
        border-radius: 18px;
        margin-bottom: 14px;
        padding: 17px 23px 0;
        letter-spacing: -0.03em;
        transition: .3s;

        &:hover {  
            border: 1px solid var(--color-grey);
        }

        &:hover + .home-page__label {  
            color: var(--color-grey);
        }

        &:focus-visible {  
            border: 1px solid var(--color-on-surface);
            outline: none;
        }
          
        &:not(:placeholder-shown)  + .home-page__label {
            transform: translate3d(0,-6px,0) scale(.75);
            color: var(--color-grey);
        }

        &:focus  + .home-page__label {
            color: var(--color-grey);
            transform: translate3d(0,-6px,0) scale(.75);
        }
    }

    & &__inputs-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 18px;


        & label:nth-child(1) {
            width: 89.3%;
            margin-right: 14px;
        }

        & label:nth-child(2) {
            position: relative;
            & .home-page__label {  
                left: 24px;
            }
        }
    }
    
    & &__button {
        padding: 20px 40px;
        width: 100%;
        height: 56px;
        background: var(--color-primary);
        border-radius: 18px;
        border: none;
        color: var(--color-white);
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary-light);
        }

        &:disabled {
            background-color: var(--color-default);
            cursor: default;
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
   
      & &__logo {
        top: 48px;
        padding: 0;
        transform: translateX(-50%);
        }

        & h2 {
            text-align: center;
        }

        & &__img-container {
            min-width: 1025px;
            text-align: center;
            background-color: var(--color-background);
        }

        & &__img {
            width: 644px;
            height: 592px;
            margin-top: -10px;
        }

        & &__form-container {
            padding: var(--padding-form-tablet);
        }  
    }

    @media (max-width: 768px) {

        & &__logo {
            top: 32px;
            }
    
        & h2 {
            text-align: left;
            font-size: var(--heading-small);
        }

        & &__form-container {
            padding: var(--padding-form-mobile);
        }

        & &__img-container {
            min-width: 270px;
            width: 100%;
        }

        & &__img {
            max-width: 360px;
            height: 337px;
            margin-top: 28px;
        }

        & &__form {
            min-width: 280px;
            margin-top: 31px; 
        }

        & &__label {
            left: 40px;
        }

        & &__inputs-container {
    
            & label:nth-child(1) {
                width: 129.3%;
                margin-right: 14px;
            }
        }
    }

    @media (max-width: 360px) {
        & &__img {
            max-width: 278px;
            height: 270px;
            margin-top: 28px;
        }

        & &__inputs-container {
            display: block;
    
            & label:nth-child(1) {
                width: 100%;
                margin-right: 0;

                & .home-page__label {  
                    top: 264px;
                }
            }
        }
    }   
}