.home-page {

    --padding-form-mobile: 15px 17px;
    --padding-form-tablet: 53px 64px;
    --padding-form-desktop: 162px 64px;

    --heading-large: 40px;
    --heading-small: 24px;

    display: flex;
    flex-direction: row;

    & h2 {
        font-size: var(--heading-large);
        font-weight: 600;
        line-height: 110%;
        letter-spacing: -0.03em;
    }

    & &__logo {
        position: absolute;
        padding: 64px;
    }

    & &__img {
        width: 100%;
    }

    & &__img-container {
        text-align: center;
        background-color: var(--color-background);
    }

    & &__form-container {
        padding: var(--padding-form-desktop);
        position: relative;
        max-width: 440px;
    }

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
   
      & &__logo {
        top: 48px;
        padding: 0;
        transform: translateX(-50%);
        }

        & h2 {
            text-align: center;
        }

        & &__img-container {
            min-width: 1025px;
            text-align: center;
            background-color: var(--color-background);
        }

        & &__img {
            width: 644px;
            height: 592px;
            margin-top: -10px;
        }

        & &__form-container {
            padding: var(--padding-form-tablet);
        }  
    }

    @media (max-width: 768px) {
        & &__logo {
            top: 32px;
            }
    
        & h2 {
            text-align: left;
            font-size: var(--heading-small);
        }

        & &__form-container {
            padding: var(--padding-form-mobile);
        }

        & &__img-container {
            min-width: 270px;
            width: 100%;
        }

        & &__img {
            max-width: 360px;
            height: 337px;
            margin-top: 28px;
        }
    }
    
    @media (max-width: 360px) {
        & &__img {
            max-width: 278px;
            height: 270px;
            margin-top: 28px;
        }
    }   
}