@import "styles/normalize.scss";
@import "styles/root.scss";
@import "styles/fonts.scss";

body {
  font-family: var(--font-primary);;
  color: var(--color-on-surface);
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  body {
    background: linear-gradient(90deg, white 42%, var(--color-background) 35%);
  }
}