.form-component {
    margin-top: 48px;
    min-width: 370px;

    & &__label {
        position: absolute;
        margin-top: 17px;
        left: 89px;
        color: var(--color-light-grey);
        transform-origin: 0 0;
        transform: translate3d(0,0,0);
        transition: all .2s ease;
        letter-spacing: -0.03em;
    }

    & input {  
        box-sizing: border-box;
        width: 100%;
        height: 56px;
        border: 1px solid var(--color-light-grey);
        border-radius: 18px;
        margin-bottom: 14px;
        padding: 17px 23px 0;
        letter-spacing: -0.03em;
        transition: .3s;

        &:hover {  
            border: 1px solid var(--color-grey);
        }

        &:hover + .home-page__label {  
            color: var(--color-grey);
        }

        &:focus-visible {  
            border: 1px solid var(--color-on-surface);
            outline: none;
        }
          
        &:not(:placeholder-shown)  + .home-page__label {
            transform: translate3d(0,-6px,0) scale(.75);
            color: var(--color-grey);
        }

        &:focus  + .home-page__label {
            color: var(--color-grey);
            transform: translate3d(0,-6px,0) scale(.75);
        }
    }

    & &__inputs-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 18px;

        & label:nth-child(1) {
            width: 89.3%;
            margin-right: 14px;
        }

        & label:nth-child(2) {
            position: relative;
            & .home-page__label {  
                left: 24px;
            }
        }
    }
    
    & &__button {
        padding: 20px 40px;
        width: 100%;
        height: 56px;
        background: var(--color-primary);
        border-radius: 18px;
        border: none;
        color: var(--color-white);
        transition: .3s;
        cursor: pointer;

        &:hover {
            background-color: var(--color-primary-light);
        }

        &:disabled {
            background-color: var(--color-default);
            cursor: default;
        }
    }

    @media (max-width: 768px) {

        min-width: 280px;
        margin-top: 31px; 
    
        & &__label {
            left: 40px;
        }

        & &__inputs-container {
    
            & label:nth-child(1) {
                width: 129.3%;
                margin-right: 14px;
            }
        }
    }

    @media (max-width: 360px) {
       
        & &__inputs-container {
            display: block;
    
            & label:nth-child(1) {
                width: 100%;
                margin-right: 0;

                & .home-page__label {  
                    top: 264px;
                }
            }
        }
    }   
}